{% extends "base.html" %}
{% block content %}
<div class="container mt-5 mb-3">
    <div class="row">
        {% for product in productlist %}
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">${{ product.price}}</h6> <span>{{ product.brand}}</span>
                        </div>
                    </div>
                    <div class="badge"> <span>{{ product.condition }}</span> </div>
                </div>
                <div class="">
                    <div class="mt-2">
                        <img src="{{product.image.url}}" class="card-img-top" alt="...">
                        <div class="buttons"> <button>Save</button> <button>Buy</button> </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

      <div class="d-flex justify-content-center align-items-center mt-3">
          <nav aria-label="...">
          {% if productlist.has_other_pages %}
            <ul class="pagination">
                {% if productlist.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ productlist.previous_page_number }}">Previous</a></li></span></li>
                {% else %}
                    <li class="page-item disabled"></li>
                {% endif %}

                {% for pages in productlist.paginator.page_range %}
                    {% if productlist.number == pages %}
                      <li class="page-item"><a class="page-link" href="#">{{pages}}</a></li></span></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if productlist.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ productlist.next_page_number }}">Next</a></li>
                {% else %}
                  <li class="page-item disabled"></li>
                {% endif %}
            </ul>
            {% endif %}
          </nav>
      </div>
</div>
{% endblock content %}
